@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', monospace;
    color: #1c1c1c;
    list-style: none;
    text-decoration: none;
}

body {
    background: #fff;
}

/* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

header .logo {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

header .logo span {
    color: #9bd5ff;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

header nav ul li a {
    padding: 5px 10px;
    border-radius: 20px;
    background: #fcfcfc;
}

header nav ul li a:hover {
    background: #f4f4f4;
}

/* main */

main {
    margin: 80px 0 10px 0;
    padding: 0 10px;
}

section {
    margin: 20px;
    padding: 20px 0;   
}

/* hero */

#hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.hero-text a {
    padding: 10px 15px;
    color: #fff;
    background: #3e1cff;
    border-radius: 20px;
    transition: all .3s ease;
}

.hero-text a:hover {
    border-top-right-radius: 0;
}

.hero-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url('../img/person3.avif');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.2);
}

/* about */

#about {
    text-align: center;
}

.about-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
}

.about-list ul li {
    padding: 20px 10px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}

.about-list ul li p:first-child {
    font-weight: bold;
}

.about-list ul li p:last-child {
    font-weight: 350;
    letter-spacing: 1px;
    font-size: .78rem;
}

/* responsive breakpoint */

@media (min-width: 578px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px;
    }

    main {
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    header {
        padding: 0 100px;
    }

    .about-list ul {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (min-width: 982px) {
    .about-list ul {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}